bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
logs/

API/appsettings.*.json
*.DotSettings.user
*.md
!/README.md
.cursor/
Front/.env
API/wwwroot/

# Terraform
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/*.tfvars
Front/.env
test-output.txt
infra/terraform/terraform.tfstate.1767963716.backup

# opencode
.opencode/
.vscode/